h1 {
    display: inline-block;
    color: $base-white;
    font-family: 'Righteous', serif;
    font-size: 9em; 
    text-shadow: .03em .03em 0 hsla(247, 57%, 50%,1);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
h1:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 100s linear infinite;
    }
@keyframes shad-anim {
        0% {background-position: 0 0}
        0% {background-position: 100% -100%}
        }

h2, h2, h3 a {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.4em;
    color: $primary;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7em;
}
body {
    text-align: center;
    font-size: 16px;
    color: $base-white;
    font-family: 'Jost',Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }

main {
    .content-container {
        margin: 0px auto;
        max-width: 960px;
        width: 90%;
        padding: 0px 18px 24px;
        flex-grow: 1;
        position: relative;
        p {
            @include hyperlink-convention();
        }
        .content-separator {
            margin: $gap auto;
            &:last-child {
                margin: $gap auto 0 auto;
            }
        }
    }
}
a {
    text-decoration-line: none;
    color: inherit;
}

a, p, li {
    font-size: 1.1em;
}

.btn {
    display: inline-block;
    outline: none;
    background: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
.btn h4{
  font-size: 1.3em; 
    font-family: 'Press Start 2P', cursive;;
    color: $primary;
    text-shadow: -1px 0 0 #fdff2a, -2px 0 0 #df4a42, 1px 0 0 #91fcfe, 2px 0 0 #4405fc;
}
.insertCoin{
    animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-o-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  
.parpadea {

    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
@-moz-keyframes parpadeo{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  .btn-unicorn {
    border: 3px solid #c45ace;
    
  }
  .start-cursor{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏁</text></svg>")
    16 0,
    auto;
  }  
  .game-cursor{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎮</text></svg>")
    16 0,
    auto;
  }
  .insertCoin-cursor{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💸</text></svg>")
    16 0,
    auto;
  }
  .unicorn-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🦄</text></svg>")
        16 0,
      auto;
  }
  

@include mobile {
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 4em;
    }
    main {
        .content-container {
            width: 100%;
            padding: 0px 9px 12px;
        }
    }
    .screen-mobile {
        font-size:10em;
    }

}