# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: HappyFan
tagline: 쯈ue ventajas 游 tiene usar el HappyFan? 
email: _@happpyfan.es
description: >- # this means to ignore newlines until "baseurl:"
  Redirige los chats de todas tus redes sociales hacia dentro de tu compa침칤a. Todos los departamentos de tu compa침칤a podr치n; responder al instante a los chats que soliciten respuestas personalizadas, hacer sorteos, concursos, votaciones, Paytweet, PayPost. Nuestra misi칩n es que pod치is minar fan치ticos de vuestra marca, rompiendo la brecha que hay entre las tecnolog칤as de la informaci칩n y las tecnolog칤as de operaci칩n.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://wwww.happyfan.es" # the base hostname & protocol for your site, e.g. http://example.com
author: HappyFanApp
twitter:
  username: happyfan_es
  card: summary
plugins:
  - jekyll-seo-tag

# Build settings
markdown: kramdown
remote_theme: ItsMeaga1n/minimal-categorized
# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/
  - node_modules