---
layout: default
---
<div class="content-container category-aggregator {{ page.category }}">
    <h1 data-shadow='{{ page.title }}'>{{ page.title }}</h1>
    <h4>{{ page.summary }}</h4>
    <div class="content-container">
        <button class="btn btn-unicorn start-cursor"> <a class="start-cursor" href="/start"><h4>Press Start</h4></a></button>
        <button class="btn btn-unicorn game-cursor"> <a class="game-cursor" href="/under_the_hood"><h4>Demo</h4></a></button>
        <button class="btn btn-unicorn insertCoin-cursor"> <a class="insertCoin-cursor insertCoin" href="/shut_up_and_take_my_money"><h4>Insert Coin</h4></a></button>
    </div>
    {{content}}
    <hr class="content-separator">
    {% for post in site.posts %}
        {% if post.category == page.category %}
            <article>
                <header>
                    <h2>
                        {% if post.external_url %}
                        <a href="{{ post.external_url | relative_url }}" target="_blank">
                        {% else %}
                        <a href="{{ post.url | relative_url }}">
                        {% endif %}
                            <i class="fas fa-angle-right"></i>
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="article-date">{{ post.date | date: "%Y-%m-%d" }}</p>
                </header>
                <section>
                    <p>
                        {{ post.summary }}
                    </p>
                </section>
                <span class="article-read">
                    {% if post.external_url %}
                    <a href="{{ post.external_url | relative_url }}" target="_blank">
                    {% else %}
                    <a href="{{ post.url | relative_url }}">
                    {% endif %}                        {% if post.external_name %}
                        Read more on {{ post.external_name }} &rarr;
                        {% else %}
                        Read more &rarr;
                        {% endif %}
                    </a>
                </span>
                <hr>
            </article>
        {% endif %}
    {% endfor %}
</div>
