<!doctype html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBGTEKKXM9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DBGTEKKXM9');
    </script>
    {% if site.data.metaData.cookies.enabled %}
      <script>
        {% include cookies.js %}
      </script>
    {% endif %}
    {% include common-head.html %}
  </head>
  {% if site.data.menu.minimal_menu %}
  <body class="is-minimal-menu" >
  {% else %}
  <body>
  {% endif %}
    {% include menu.html %}
      <main class="content-layout">
          {{ content }}
          {% include footer.html %}
      </main>
  </body>
</html>
