---
layout: default
category: home
---
<div class="content-container home">
    
    <h1 data-shadow='{{ page.title }}'>
        {{ page.title }}
    </h1>
    <div class="content-container collection ">
        <div class="group ">
            <div class="title">{{page.title_sumary_1}}</div>
            <ul>
                <a class="item" >
                    <div class="icon"><span style='font-size:30px;'>💬</span></div>
                    <div class="content">
                        <h4>{{page.content_sumary_1}}</h4>
                        <div class="description">
                            {{ page.summary_1}}
                        </div>
                    </div>
                </a>
            </ul>
        </div>
        <div class="group">
            <div class="title">{{page.title_sumary_2}}</div>
            <ul>
                <a class="item" >
                    <div class="icon"><span style='font-size:30px;'>📱</span></div>
                    <div class="content">
                        <h4>{{page.content_sumary_2}}</h4>
                        <div class="description">
                            {{ page.summary_2}}
                        </div>
                    </div>
                </a>
            </ul>
        </div>
    </div>
    <div class="content-container">
        <button class="btn btn-unicorn start-cursor"> <a class="start-cursor" href="/start"><h4>Press Start</h4></a></button>
        <button class="btn btn-unicorn game-cursor"> <a class="game-cursor" href="/under_the_hood"><h4>Demo</h4></a></button>
        <button class="btn btn-unicorn insertCoin-cursor"> <a class="insertCoin-cursor insertCoin" href="/shut_up_and_take_my_money"><h4>Insert Coin</h4></a></button>
    </div>
    <!--- En el menu hay dos booleanos, uno de ellos dice si se muestra y el otro si es un nuevo menu. -->
    {% for menu_item in site.data.menu.menu_pages %}
        {% if menu_item.show_new_home %}
        {% if menu_item.show_on_home %}  
        <div class="category_wrapper">
            <div class="category_container">
                <div class="category_image">
                    <h1 class="screen-mobile" href='{{ menu_item.url | relative_url }}'>
                        <i class='{{menu_item.icon_name}}'></i>
                      </h1>
                </div>
                <div class="category_description">
                    <a href="{{ menu_item.url | relative_url }}">
                    <h2> {{ menu_item.title }} </h2>
                    </a>
                    <h4>
                        {{ menu_item.description }} 
                    </h4>
                </div>
            </div>
            {% endif %}
        {% else %}
        {% if menu_item.show_on_home %}  
            <div class="category_container">
                <div class="category_image">
                    <h1 class='screen-mobile' href='{{ menu_item.url | relative_url }}'>
                        <i class='{{menu_item.icon_name}} '></i>
                      </h1>
                </div>
                <div class="category_description">
                    <a href="{{ menu_item.url | relative_url }}">
                    <h2> {{ menu_item.title }} </h2>
                    </a>
                    <h4>
                        {{ menu_item.description }} 
                    </h4>
                </div>
            </div>
        </div><!-- Este div es de category_wrapper -->
        {% endif %}
        {% endif %}
    {% endfor %}
</div>
