<!doctype html>
<html>
  <head>
    <link>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    {% if site.data.metaData.cookies.enabled %}
      <script>
        {% include cookies.js %}
      </script>
    {% endif %}
    {% include common-head.html %}
  </head>
  {% if site.data.menu.minimal_menu %}
  <body class="is-minimal-menu" >
  {% else %}
  <body>
  {% endif %}
    {% include menu.html %}
      <main class="content-layout">
          {{ content }}
          {% include footer.html %}
          <script>
            {% include login.js %}
          </script>
      </main>
  </body>
</html>